<div class='container'>
    <br>
    <h3>Create Task</h3>
    <%= form_with scope: :task, url: tasks_path do |form| %>
        <p>
            <%= form.label :description, class: "font-weight-bold" %>
        <br>
            <%= form.text_field :description, :class => 'form-control' %>
        </p>

        <p>
            <%= form.submit 'Create', :class => 'btn btn-outline-primary float-right' %>
        </p>
    <% end %>
    <p class="text-muted">
        Number of tasks: <%= @open_tasks.length + @finished_tasks.length %>
    </p>

    <br>

    <h3>Open Tasks</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Task Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @open_tasks.each do |task| %>
                <tr>
                    <th scope="row"><%= task.id %></th>
                    <td><%= task.description %></td>
                    <td>
                        <%= link_to 'Finish', "/tasks/#{task.id}",
                            method: :put,
                            remote: true,
                            :class => '' %>
                        <%= link_to 'Delete', "/tasks/#{task.id}",
                            method: :delete,
                            remote: true,
                            data: {confirm: 'Are you sure you want to delete this task?'},
                            :class => 'text-danger' %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <br>

    <h3>Finished Tasks</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Task Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @finished_tasks.each do |task| %>
                <tr>
                    <th scope="row"><%= task.id %></th>
                    <td><%= task.description %></td>
                    <td>
                        <%= link_to 'Reopen', "/tasks/#{task.id}",
                            method: :put,
                            remote: true,
                            :class => '' %>
                        <%= link_to 'Delete', "/tasks/#{task.id}",
                            method: :delete,
                            remote: true,
                            data: {confirm: 'Are you sure you want to delete this task?'},
                            :class => 'text-danger' %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <br>
</div>
