<div class='container'>
    <%= form_with scope: :task, url: tasks_path do |form| %>
        <p>
            <%= form.label :description %>
        <br>
            <%= form.text_field :description, :class => 'form-control' %>
        </p>

        <p>
            <%= form.submit 'Create', :class => 'btn btn-outline-primary float-right' %>
        </p>
    <% end %>
    <p>
        Number of created tasks: <%= @tasks.length %>
    </p>

    <div class="container">
        <div class="row">
            #
            <div class="col-sm">
                Task Description
            </div>
        </div>
    </div>
    <% @tasks.each_with_index do |task, index| %>
        <div class="container">
            <div class="row">
                <%= index + 1 %>
                <div class="col-sm">
                    <%= task.description %>
                </div>
            </div>
        </div>
    <% end %>
</div>
