<nav class="navbar navbar-light bg-secondary">
<div class='container'>
    <h3 class="text-center text-white"><img src="/favicon.ico">To Do List</h3>
</div>
</nav>
<div class='container'>
    <br>
    <h4>Create Task</h4>
    <%= form_with scope: :task, url: tasks_path do |form| %>
        <p>
            <%= form.label :description, class: 'font-weight-bold' %>
        <br>
            <%= form.text_area :description, class: 'form-control' %>
        </p>
        <div id="alertCreateError" class="alert alert-danger alert-dismissible fade show d-none" role="alert">
            Task description must be at least 3 characters long
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <p>
            <%= form.submit 'Create', class: 'btn btn-outline-primary float-right' %>
        </p>
    <% end %>
    <p class="text-muted">
        Number of tasks: <%= @num_tasks %>
    </p>
    <input type="button" class="btn btn-danger" value="Reset tasks" onclick="resetTasks()">
    <br>

    <br>

    <h4>Open Tasks</h4>
    <div class="progress" style="height: 15px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
            style="width: <%= @open_percentage %>%;">
                <%= @open_percentage %>%
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Task Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @open_tasks.each do |task| %>
                <%= render partial: "edit", locals: {task: task} %>
                <tr>
                    <th scope="row"><%= task.id %></th>
                    <td class="text-break" style="white-space: pre-wrap"><%= task.description %></td>
                    <td>
                        <%= link_to "/tasks/#{task.id}/switch",
                            method: :put,
                            remote: true,
                            style: "padding: 15px; display: inline-block;" do %>
                            <%= octicon "checklist" %>
                        <% end %>
                        <a href="javascript:" style="padding: 15px; display: inline-block;" onclick="editModal<%= task.id %>()">
                            <%= octicon "pencil" %>
                        </a>
                        <a href="javascript:" style="padding: 15px; display: inline-block;" onclick="deleteTask(<%= task.id %>)">
                            <%= octicon "trashcan" %>
                        </a>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <br>

    <h4>Finished Tasks</h4>
    <div class="progress" style="height: 15px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
            style="width: <%= @finished_percentage %>%;">
                <%= @finished_percentage %>%
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Task Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @finished_tasks.each do |task| %>
                <%= render partial: "edit", locals: {task: task} %>
                <tr>
                    <th scope="row"><%= task.id %></th>
                    <td class="text-break" style="white-space: pre-wrap"><%= task.description %></td>
                    <td>
                        <%= link_to "/tasks/#{task.id}/switch",
                            method: :put,
                            remote: true,
                            style: "padding: 15px; display: inline-block;" do %>
                            <%= octicon "checklist" %>
                        <% end %>
                        <a href="javascript:" style="padding: 15px; display: inline-block;" onclick="editModal<%= task.id %>()">
                            <%= octicon "pencil" %>
                        </a>
                        <a href="javascript:" style="padding: 15px; display: inline-block;" onclick="deleteTask(<%= task.id %>)">
                            <%= octicon "trashcan" %>
                        </a>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <br>
</div>

<div class="modal fade" id="deleteTaskModal" tabindex="-1" role="dialog" aria-labelledby="deleteTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5>Are you sure you want to delete task #<span id="deleteTaskId"></span>?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <%= button_to 'Delete',
            "/tasks/",
            method: :delete,
            remote: true,
            class: 'btn btn-danger',
            id: 'deleteTaskButton',
            form: {id: 'deleteTaskLink'} %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="resetTasksModal" tabindex="-1" role="dialog" aria-labelledby="resetTasksModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5>Are you sure you want to delete all tasks?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <%= button_to 'Reset tasks',
            "/tasks",
            method: :delete,
            remote: true,
            id: 'resetTasksButton',
            class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>

<script>
    $('#deleteTaskModal').on('shown.bs.modal', () => $('#deleteTaskButton').focus())
    $('#resetTasksModal').on('shown.bs.modal', () => $('#resetTasksButton').focus())

    function deleteTask(task) {
        $('#deleteTaskModal').modal()
        $('#deleteTaskId').text(task)
        $('#deleteTaskLink').prop('action', `/tasks/${task}`)
    }

    function resetTasks() {
        $('#resetTasksModal').modal()
    }
</script>
